<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Event List</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body class="bg-gray-100">
    <% if (message && message!=undefined && message!="" && message!="undefined") { %>
        <script>
            alert('<%= message %>');
        </script>
    <% } %>
    <div class="flex min-h-screen">
      <aside class="w-64 bg-white p-10 shadow">
        <div>
          <div class="mb-4">
            <% if(user_info.image!=null) { %>
                <img
                class="h-12 w-12 rounded-full"
                src="/uploads/<%= user_info.image %>"
                />
            <% } else { %>
                <img
                class="h-12 w-12 rounded-full"
                src="/default_user.png"
                />
            <% } %>
            <h2 class="text-lg font-semibold"><%= user_info.first_name %> <%= user_info.last_name %></h2>
          </div>
          <nav class="mb-4">
            <a href="/plant/all-plants" class="block mb-2">Plants</a>
            <a href="/user/all-users" class="block mb-2">Users</a>
            <a href="/post/all-posts" class="block mb-2">Posts</a>
            <a href="/event/all-events" class="block mb-2 text-green-600">Events</a>
            <a href="/user/premium-queue" class="block mb-2">Premium Queue</a>
            <a href="/event/participation-queue" class="block mb-2">Participation Queue</a>
          </nav>
          <form action="/user/logout" method="post"> 
            <button type="submit" class="mt-auto text-red-500">Log out</button>
          </form>
        </div>
      </aside>
      <main class="flex-1">
        <div class="p-8">
          <div class="p-8">
            <div class="flex justify-between items-center mb-6">
              <h1 class="text-2xl pl-4 font-bold text-emerald-800">Event list</h1>
              <form action="/plant/all-plants" class="flex">
                <div class="pt-2 relative mx-auto text-gray-600">
                    <input
                    class="border-2 border-gray-300 bg-white h-10 px-5 pr-16 rounded-lg text-sm focus:outline-none"
                    type="search"
                    name="search"
                    placeholder="Search Event..."
                    />
                </div>
                <button type="submit"><i class="fa-solid fa-magnifying-glass fa-xl"></i></button>
              </form>
                <div class="mb-4">
                    <a href="/event/add"><button class="text-white-500 bg-blue-500 pt-2 pb-2 pl-4 pr-4 mr-20 mt-6 rounded-lg">Add Event</button></a>
                </div>
            </div>
          <div class="bg-emerald-50 p-10 rounded-lg shadow">
            <table class="w-full">
              <thead>
                <tr>
                  <th class="text-left pl-2">ID</th>
                  <th class="text-left pl-2">Title</th>
                  <th class="text-left pl-2">Start Date</th>
                  <th class="text-left pl-2">End Date</th>
                </tr>
              </thead>
              <tbody>
                <% if(events.length > 0) { %>
                    <% events.forEach(event=>{ %>
                        <tr>
                          <td><%= event.event_id %></td>
                          <td><%= event.title %></td>
                          <td><%= formattedDate(event.start_date) %></td>
                          <td><%= formattedDate(event.end_date) %></td>
                          <td class="pl-2"><form action="/event/delete/<%= event.event_id %>" method="post">
                            <div class="mb-4">
                                <button type="submit" class="text-white-500 bg-red-500 pt-2 pb-2 pl-4 pr-4 mr-20 mt-6 rounded-lg">Delete Event</button>
                            </div>
                          </form></td>
                        </tr>
                    <% }); %>
                <% } %>
              </tbody>
            </table>
          </div>
        </div>
      </main>
    </div>
  </body>
</html>
